- title='Rasp Mirror'
- author='ladicle'

doctype html
html
  head
    title #{title} @#{author}
    meta(charset='utf-8')
    meta(name='viewport', content='width=792, user-scalable=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet' href='node_modules/shower-ribbon/styles/screen.css')
    link(rel='stylesheet' href='dst/css/base.css')
  body.list
    header.caption
      h1 #{title}
      p @#{author}

    //- Start Slide Page
    section.slide.cover
      div
        h2.spase-shadow #{title}
        p AyaIgarashi - 
          a(href="http://twitter.com/ladicle") @ladicle
        img.blur-image(src="pictures/cover.jpg")

    section.slide.shout
      div
        h2.spase-shadow Thank you!

    //- Fotter
    div.progress
      div
    script(src="node_modules/shower-core/shower.min.js")
    script(src="dest/js/link-open-another-window.js")
